<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>

  <!-- <script src="script.js"></script> -->
  <link rel="stylesheet" href="style.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <!-- You should properly set the path from the main file. -->
  <title>Kelime Analiz</title>
</head>

<body>
  <div id="app1" class="cont">
    <div class="column">
      <h2>Metin giriniz veya varolan metni düzenleyiniz.</h2>
      <textarea v-model="input_data" cols="10" rows="5"></textarea>

    </div>

    <div class="column">
      <h2>Sonuçlar burada görüntülenecektir.</h2>
      <table>
        <tbody>
          <!-- <tr>
            <td>Girilen Metin</td>
            <td>{{input_data}}</td>
          </tr> -->
          <!-- <tr>
            <td>Kelime Kelime</td>
            <td>{{kelimeKelime2}}</td>
          </tr>  -->
          <tr>
            <td>Kelime Kelime 2</td>
            <td><span class="kelime" v-for="kelime in kelimeler2">{{kelime[0]}}</span></td>
          </tr>
          <tr>
            <td>Kelime Sayısı</td>
            <td>{{kelimeSayisi}}</td>
          </tr>
          <tr>
            <td>Cümle Sayısı</td>
            <td>{{cumleSayisi}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    const DataAnaliz = {
      data() {
        return {
          input_data: 'Buraya veri girilecek. Girilen veri aşağıda gösterilecek.',
          kelimeler: [],
          kelimeler2: ""
        }


      },

      computed: {

        kelimeKelime2() {
          var patt = new RegExp(/[A-Za-z0-9_şçöğüıİ]+/g);
          return this.kelimeler2 = [...this.input_data.matchAll(patt)];
          // patt.exec(this.input_data);
        },
        kelimeSayisi() {
          return this.kelimeler2.length
        },
        cumleSayisi() {
          return this.input_data.split('.').length
        }
      }

    }

    Vue.createApp(DataAnaliz).mount('#app1')




  </script>
</body>

</html>