<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>

  <!-- <script src="script.js"></script> -->
  <link rel="stylesheet" href="style.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <!-- You should properly set the path from the main file. -->
  <title>Kelime Analiz</title>
</head>

<body>
    <div id="app1">
      <div class="column">
        <h2>Metin giriniz veya varolan metni düzenleyiniz.</h2>
        <textarea v-model="input_data" cols="10" rows="15"></textarea>

      </div>
      <hr>
      <div class="column">
        <h2>Sonuçlar burada görüntülenecektir.</h2>
        <table>
          <tbody>
            <tr>
              <td style="max-width: 10px;">Kelime Kelime</td>
              <td><span class="kelime" v-for="kelime in kelimeBul">{{kelime[0]}}</span></td>
            </tr>
            <tr>
              <td>Cümleler</td>
              <td>
                <p v-for="cumle in cumleBul">{{cumle}}</p>
              </td>
            </tr>
            <tr>
              <td>Kelime Sayısı</td>
              <td>{{kelimeSayisi}}</td>
            </tr>
            <tr>
              <td>Cümle Sayısı</td>
              <td>{{cumleSayisi}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>


    //kullanılacak değişkenler..

    var regex = {
      "kelime_regex": RegExp(/[A-Za-z_ŞşÇçĞğÜüÖöİı]+/g),
      "cumle_regex": RegExp(/[\.\!]+\s*|\n+\s*/g),

    };
    var input_data = '';

    // Vue3 işlemleri
    const DataAnaliz = {

      data() {
        return {
          input_data: 'Pelikan monotipik pelikangiller (Pelecanidae) familyasını ve Pelecanus cinsini oluşturan iri su kuşu türlerinin ortak adı. Uzun gagaları, avlanmak için kullandıkları ve yutmadan önce gagalarıyla topladıkları avın bulunduğu suyu süzmeye yarayan geniş boğaz keseleri en ayırt edici özellikleridir. Kahverengi pelikan ve Peru pelikanı dışındaki türlerinin tüyleri genellikle soluk renklidir. Tüm türlerinin gagaları, keseleri ve yüzlerindeki tüysüz deri, üreme mevsiminden önce parlak renklere kavuşur. Yaşayan sekiz türü dönencelerden ılıman kuşağa kadar olan bölgelerde yaşar ancak Güney Amerika\'nın iç kısmında, kutup bölgelerinde ve açık denizde bulunmazlar. ',
          kelimeler:'',
          cumleler: "",
        }


      },

      computed: {

        kelimeBul() {
          return this.kelimeler = [...this.input_data.matchAll(regex.kelime_regex)];
        },
        kelimeSayisi() {
          return this.kelimeSayisi = this.kelimeler.length
        },

        kelimeAnaliz(){
          var kelimeler = kelimeBul();
          var kListesi = {};
          // kelimeler.forEach( element => {
            
          // });

        },
        cumleBul() {
          this.cumleler = [...this.input_data.split(regex.cumle_regex)]
          this.cumleler.forEach(element => {
            if(element.length==0){
              this.cumleler.splice(this.cumleler.indexOf(element),1)
            };
          });
          // Eğer boş cümle varsa siliyoruz.
          return this.cumleler;

        },

        cumleSayisi() {
          return this.cumleSayisi = this.cumleler.length
        }
      }

    }
    Vue.createApp(DataAnaliz).mount('#app1')




  </script>
</body>

</html>
