/* textarea {
  width:100%;
  
} */

.cont {
  max-width: 600px;
  margin: 0 auto;
}


.p10 {
  padding: 10px;
}

.tc {
  text-align: end;
}

.menu {
  background-color:lightgray;
  height: 6rem;
  padding-top: 1rem;
}

span.kelime {
  background-color: blue;
  border-radius: 10px;
  color: white;
  padding: 3px;
  margin: 5px;
  float: left;
}

p#sonuc {
  width: 100px !important;
}
